body
  color #555
  background-color #fdfdfd
  font-family 'Helvetica Neue', Arial, sans-serif

a
  color inherit
  text-decoration none

h1
  margin 0

div
  padding 10px 0 30px

html, body
  width 100%
  height 100%
  margin 0
  padding 0

body
  display: table

body > div
  display table-cell
  vertical-align middle
  text-align center

